            .whatsapp-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 60px;
            height: 60px;
            background-color: #25D366;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            z-index: 1000;
            text-decoration: none;
        }

        .whatsapp-icon {
            width: 32px;
            height: 32px;
            filter: brightness(0) invert(1);
            /* convierte el ícono a blanco */
        }

        .whatsapp-float:hover {
            transform: scale(1.1);
            transition: 0.2s ease;
        }